<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container my-5">
  <h3> Add Employee</h3>
  <div class="card">
    <div class="card-body">
      <div class="col-md-10">
        <form  th:action="@{/employee/register}"
              th:object="${employee}" method="post">
          <div class="row">
            <div class="form-group col-md-8">
              <label for="name" class="col-form-label">First Name</label> <input
                    type="text" th:field="*{first_name}" class="form-control" id="name"
                    placeholder="First Name" required> <span
                    th:if="${#fields.hasErrors('first_name')}" th:errors="*{first_name}"
                    class="text-danger"></span>
            </div>
            <div class="form-group col-md-8">
              <label for="email" class="col-form-label">Second Name</label> <input
                    type="text" th:field="*{second_name}" class="form-control" id="email"
                    placeholder="Second Name" required> <span
                    th:if="${#fields.hasErrors('second_name')}" th:errors="*{second_name}"
                    class="text-danger"></span>
            </div>

            <div class="form-group col-md-8">
              <label for="age" class="col-form-label">Salary</label> <input
                    type="number" th:field="*{salary}" class="form-control"
                    id="age" placeholder="Age" required> <span
                    th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"
                    class="text-danger"></span>
            </div>

            <div class="col-md-6">
              <input type="submit" class="btn btn-primary" value="Add Employee">
            </div>

            <div class="form-group col-md-8"></div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>